<template>
  <div>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <template v-slot:activator="{ on, attrs }">
        <slot name="activator" :on="on" :attrs="attrs">
          <v-btn
            color="primary"
            dark
            v-bind="attrs"
            v-on="on"
          >
            Open Dialog
          </v-btn>
        </slot>
      </template>
      <v-card>
        <v-toolbar>
          <v-btn
            icon
            dark
            @click="dialog = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Order</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              dark
              text
              @click="event => sendOrder(event)"
            >
              Next
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-list
          three-line
          subheader
        >
          <v-subheader>Item Summary</v-subheader>
          <v-list-item>
            <v-list-item-avatar rounded="0">
              <v-img
                :src="'https://scontent.xx.fbcdn.net/v/t1.15752-0/s640x640/142343354_702059770468298_1367304536930632781_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=aee45a&_nc_ohc=gVLZK2ow0zMAX8tM26X&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=8fd3184af7a4129a2aa0a0a1ff4f80a5&oe=60EFDEB8'"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title v-html="'harnais cuir femme'"></v-list-item-title>
              <v-list-item-subtitle
                v-html="'harnais en cuir pour femme, customisation possible: marquage du cuir'"></v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <v-list
          three-line
          subheader
        >
          <v-subheader>Product size and custom</v-subheader>
          <v-list-item>
            <v-list-item-action>
              <v-text-field label="Bust" :rules="[sizeRules]" v-model="sizes.bust" required>
                <template v-slot:append>cm</template>
              </v-text-field>
            </v-list-item-action>
            <v-list-item-action>
              <v-text-field label="Waist" :rules="[sizeRules]" v-model="sizes.waist" required>
                <template v-slot:append>cm</template>
              </v-text-field>
            </v-list-item-action>
            <v-list-item-action>
              <v-text-field label="Hips" :rules="[sizeRules]" v-model="sizes.hips" required>
                <template v-slot:append>cm</template>
              </v-text-field>
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>Custom order</v-list-item-title>
              <v-textarea
                name="customOrderTextArea"
                v-model="customOrderText"
              ></v-textarea>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <v-container>
          <v-row>
            <v-col cols="12" sm="6" md="4">
              <v-text-field label="Full name" required v-model="address.name"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="4">
              <v-text-field label="Phone Number" hint="+33 6 23 58 84 03" required
                            v-model="address.phone"></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field label="Email" required v-model="address.mail"></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field label="Street" required v-model="address.street"></v-text-field>
            </v-col>
            <v-col cols="6" sm="3">
              <v-text-field label="Zip code" required v-model="address.zip"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field label="City" required v-model="address.city"></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
  import Order from '../Repositories/models/Order'
  import { uuidv4 } from '../utils'
  import { RepositoryFactory } from '../Repositories/RepositoryFactory'

  const OrdersRepository = RepositoryFactory.get('orders')

  export default {
    name: 'orderDialog',
    data() {
      return {
        dialog: false,
        notifications: false,
        sound: true,
        widgets: false,
        sizeRules: value => {
          const pattern = /^[0-9]+$/
          return pattern.test(value) || 'invalid size'
        },
        customOrderText: '',
        overlay: false,
        sizes: {},
        address: {
          name: '',
          street: '',
          city: '',
          zip: '',
          phone: '',
          mail: ''
        }
      }
    },
    methods: {
      sendOrder: async function(event) {
        console.log('test1')
        let order = new Order({
          name: uuidv4(),
          description: {text: Order.buildDescription(uuidv4(), 'harnais cuir femme', this.sizes, this.address, this.customOrderText)},
          labels: [{ 'id': '60ea7bfeface8400131e9323' }, { 'id': '60e9d5d6face8400131e7ad3' }],
          column_id: process.env.GITKRAKEN_TODO_ID
        })
        console.log('test2')
        let response = await OrdersRepository.postOrder(order)

        console.log(response)
      }
    }
  }
</script>

<style scoped>

</style>
