<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-carousel>
          <v-carousel-item
            v-for="(item,i) in items"
            :key="i"
            :src="item.src"
            reverse-transition="fade-transition"
            transition="fade-transition"
          ></v-carousel-item>
        </v-carousel>
      </v-col>
      <v-col>
        <h1>Product Name</h1>
        <h3>100.00 €</h3>
        ref.0000
        <hr/>
        Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit.
        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec sollicitudin molestie malesuada.
        Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec sollicitudin molestie malesuada.
        <br/><br/>
        Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id
        dui posuere blandit. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh. Mauris blandit
        aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet
        dui. Curabitur aliquet quam id dui posuere blandit. Donec rutrum congue leo eget malesuada. Curabitur arcu erat,
        accumsan id imperdiet et, porttitor at sem.
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <orderDialog>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on">Order Now</v-btn>
          </template>
        </orderDialog>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import orderDialog from './orderDialog'

  export default {
    name: 'productPresentation',
    components: {
      orderDialog
    },
    data: function() {
      return {
        items: [{ src: 'https://scontent-cdt1-1.xx.fbcdn.net/v/t1.15752-9/s1080x2048/142343354_702059770468298_1367304536930632781_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=ae9488&_nc_ohc=J3sAhw0nNEAAX-3vAAv&_nc_ht=scontent-cdt1-1.xx&tp=7&oh=2b0f01de3e5d3fd8b0825ae27840f3cc&oe=60D23AF3' }]
      }
    }
  }
</script>

<style scoped>

</style>
