<template>

  <ProductPresentation></ProductPresentation>

</template>

<script>
  import { ProductPresentation } from '../../.nuxt/components'

  export default {
    name: 'index',
    components: {
      ProductPresentation
    }
  }
</script>

<style scoped>

</style>
