<template>
  <v-row justify="center" align="center">
    hello kinkers
  </v-row>
</template>

<script>

export default {
  components: {
  },
  async mounted() {
    let test = await this.$fire.firestore.collection('products').get()
    console.log(test.docs[0])
  }
}
</script>
